<%- include('./partials/header.ejs') %>
<h1>Mornging Report!</h1>

<form method="POST" action="/morningReport">
    <label for="sleepDuration">Sleep Duration (range from 0 to 24): </label>
    <input type="number" name="sleepDuration" min="0" max="24" value="<%= sleepDuration %>"/>

    <label for="sleepQuality">Sleep Quality (range from 0 to 5): </label>
    <input type="range" id="sleepQuality" name="sleepQuality" min="1" max="5"  oninput="amountSleepQuality.value=sleepQuality.value" value="<%= sleepQuality %>" />
    <output id="amountSleepQuality" name="amountSleepQuality" for="rangeInput">0</output>


    <label for="moodMorning">Generic mood (range from 0 to 5): </label>
    <input type="range" id="moodMorning" name="moodMorning" min="1" max="5" oninput="amountMoodMorning.value=moodMorning.value" value="<%= moodMorning %>"/>
    <output id="amountMoodMorning" name="amountMoodMorning" for="rangeInput">0</output>

    <label for="date">Date: </label>
    <input type="date" name="date" />
    <input type="submit" value="submit!" />
</form>

<%- include('./partials/footer.ejs') %>