<%- include('./partials/header.ejs') %>
<h1>
    Choose which week and month statistics you want. 
</h1>

<form method="POST" action="/behavior/summary">
    <label for="weekNumber">Week Number: </label>
    <input type="week" name="weekNumber"/>
    <input type="submit" value="submit!" />
    <input type="hidden" name="hiddenWeek" />
</form>


<h2>Weekly average (by default from last week)</h1>
    <ul>
        <li>Average sleep duration: <%= sleepDuration %></li>
        <li>Average time spent on sports and exercise: <%= sports %></li>
        <li>Average time spent studying: <%= study %></li>
        <li>Average sleep quality: <%= sleepQuality %></li>
        <li>Average generic mood: <%= mood %></li>
    </ul>


<form method="POST" action="/behavior/summary">
    <label for="monthNumber">Week Number: </label>
    <input type="month" name="monthNumber"/>
    <input type="submit" value="submit!" />
    <input type="hidden" name="hiddenMonth" />
</form>

<h2>Monthly average (by default from last month)</h2>

<ul>
    <li>Average sleep duration: <%= sleepDurationM %></li>
    <li>Average time spent on sports and exercise: <%= sportsM %></li>
    <li>Average time spent studying: <%= studyM %></li>
    <li>Average sleep quality: <%= sleepQualityM %></li>
    <li>Average generic mood: <%= moodM %></li>
</ul>

<%- include('./partials/footer.ejs') %>